@font-face {
  font-family: 'Rockville Solid Regular';
  font-display: swap;
  src: url('~assets/fonts/Rockville.otf') format('opentype');
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

a {
  text-decoration: none;
  transition: 0.5s 0.1s ease-in-out;
}

p a:hover {
  color: #6ee7b7;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ed2f7b;
}

.v-application.theme--light .nucard {
  transition: all 0.2s !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 1) !important;
}
.v-application.theme--dark .nucard {
  transition: all 0.2s !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8),
    -5px -5px 10px rgba(255, 255, 255, 0.2) !important;
}

.card-glass {
  background-color: rgba(54, 34, 68, 0.55) !important;
  backdrop-filter: blur(8px) saturate(160%) !important;
  -webkit-backdrop-filter: blur(8px) saturate(160%) !important;
}

.glow-purple {
  background-image: radial-gradient(75% 50% at left, #3a1d5e, transparent);
}
.glow-pink {
  background-image: radial-gradient(50% 50% at center, #55004c, transparent);
}
.glow-red {
  background-image: radial-gradient(
    70% 50% at center,
    rgba(208, 20, 31, 0.7),
    transparent
  );
}
