// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color-pack: false;
$heading-font-family: 'Poppins', sans-serif;
$body-font-family: 'Josefin Sans', sans-serif;
// $heading-font-color: #e8e8e8;

$material-light: (
  'background': #eff6ff,
  'cards': #eff6ff,
  'app-bar': #eff6ff,
);
$material-dark: (
  'background': #0f000c,
  'cards': #0f000c,
  'app-bar': transparent,
);
$card-elevation: 0;
